@charset "UTF-8";
@font-face {
    font-family: 'Eoe_Zno_EB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_EB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
form.list{
     min-width: 1000px;
   max-width: 1000px;
   margin: auto;
   padding: 10px;
   height: 100vh;
}
div.addgonggo{
	width: 400px;
	height: 150px;
	cursor: pointer;
	margin-left: 30px;
	margin-bottom: 20px;
}
div.gonggoicon{
	width: 75px;
	height: 75px;
	border-radius: 50px 50px 50px;
	border: 2px solid black;
	margin: 20px 50px;
	background-color: #021B80;
}
 div.gonggoicon span{
 	font-size:30pt;
 	padding: 15px 18px;
 	color: white;
 }
 div.gonggoicon p{
	margin: 15px 3px;
 }
 div.gonggo-box{
 	max-width: 200px;
 	min-width: 200px;
	height: 150px;
	cursor: pointer;
	margin-left:30px;
	margin-bottom: 20px;
	text-align:center;
	padding-top: 10px;
 }
 
h4.numdday{
color: #021B80;
font-size: 1.3em;
margin-top : 15px;
}
h3.endday{
font-size: 1.3em;
margin-top: 0px;
line-height: 0.8;
color: gray;
}

div.circle{
    border: 2px solid #021B80;
    border-radius: 20px 20px;
    font-size: 1.2em;
    color: gray;
    width: 100px;
    margin-bottom: 3px;
    margin-left: 35px;
}
 
h4.subject{
	font-size: 1.5em;
	margin-bottom: 20px;	
}